* {
    margin: 0;
}
body{

    background-color: rgb(190, 196, 155);
}

/*Barra de navegacion*/

.navbar{
    height: 150px;
padding: 2rm;
background-color:rgb(190, 196, 155);
border: 2px solid black;
}

.navbar-collapse{

    align-items: center;
    justify-content: space-between;
}
.navbar-brand{
    margin-left: 30px;
}
.navbar-nav{
    margin-right:30px

}
/*Aqueducto*/
/*Cards*/

.card{
   
    position: relative;
    background-color: antiquewhite;

}

.recient-card{
    padding: 40px;

}

.recient-card img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    display: block;
    transition: all 0.2s ease;
}
.img-container{
    padding-top: 60px;
    margin-bottom: 40px;
}


.card:hover img{
    opacity: 0.5;
}


.card:hover .overlay{

    opacity: 1;
}

.btn {
    align-items: right;
}
.about-segovia{
    height: 100px;
    padding: 10px;
}
.list-group-item{
    background-color:antiquewhite;
    
 
}

.list-group-item img{
    padding: 0;
 
}
.list-group-item  p{
    text-align: center;
    font-weight: bold;
    margin-top: -25px;
    
}
.list-group{
    margin-top: 65px;
    padding-bottom: -20px;
    border: 2px solid black;
}

.list-group-title{
    text-align: center;
}
.row-card{
    margin-left: 50px;

}

.card-img-top{
    background-color: rgb(190, 196, 155);
    
}
.card-background{
   background-color:  rgb(190, 196, 155);
   border: none;

   height: 100px;
    width: 150px;
    margin: 10px 10px 20px 20px; 
}
.card-body h5{
    margin-left: 20px;

}
.line{
    width: 90%;
    height: 2px;
    background-color: grey;
    margin-left:50px;
    margin-top: 120px;
}

.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;

}
.contacto .rectangulo{
    margin-top: 5rem;
    background-color: rgb(13,110, 253);
    border-radius:10px ;
    box-shadow: 0px 1px 4px 1px white;
}
.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}
    .contacto button{
        color: white;
        font-weight: boldo;
        background-color: transparent;
        border: 2px solid white;
        padding: 1.25em 2em;
        margin: 10px;
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
    }
    .contacto button:hover {
        background-color: white;
        color: black;
    }

    .contacto button i{
        color: white;
        font-size: 1.3rem;
        transition:  all 0.2s ease-in-out;
    }
    .contacto button:hover i{
        color: black;

    }
    #icons-segovia{
        justify-content: space-between;
        
    }